<% if @budgets.length > 0 %>
  <div class="budget-main-content">
  <h2>Budgets</h2>
    <ul>
      <% @budgets.each do |budget| %>
        <li>
          <div class="budget">
          <h3><%= budget.category.name %></h3>
          <!-- maybe turn these into spans wrapped in div to make it one line, depends on how the chart gem works out -->
          <p>$<%= budget.calculate_expenditures %> of $<%= budget.amount_cents %></p>
          <!-- Add fancy bar here eventually! -->
          <p>From <%= budget.start_date %> to <%= budget.end_date %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= render "./forms/budget_form" %>
