<!-- Add net worth figure across all companies' values -->
<div class="main-content group">
  <div class="accounts">
    <h2>Companies</h2>
    <% if @companies.length > 0 %>
      <ul>
        <% @companies.each do |company| %>
          <li>
            <h3><%= company.name %></h3>
            <!-- nest this stuff in a better tag, and add a class to it -->
            <p>Total Value: $<%= company.total_accounts_value %></p>

            <% if company.cash_accounts.length > 0 %>
              <ul>
                <% company.cash_accounts.each do |cash_account| %>
                <li>
                  <%= cash_account.name %>
                  $<%= cash_account.balance %>
                </li>
                <% end %>
              </ul>
            <% end %>

            <% if company.credit_accounts.length > 0 %>
              <ul>
                <% company.credit_accounts.each do |credit_account| %>
                <li>
                  <%= credit_account.name %>
                  $<%= credit_account.balance %>
                </li>
                <% end %>
              </ul>
            <% end %>

            <% if company.loan_accounts.length > 0 %>
              <ul>
                <% company.loan_accounts.each do |loan_account| %>
                <li>
                  <%= loan_account.name %>
                  $<%= loan_account.balance %>
                </li>
                <% end %>
              </ul>
            <% end %>

    <!-- RENDER ACCOUNT FORMS (need to send in company object)-->

          </li>
        <% end %>
      </ul>
    <% end %>
  </div>


<!-- RENDER BANK FORM (need to send in user object)-->
  <div class="right-column">
    <div class="budgets">
      <h2>Budgets</h2>
      <% if @budgets.length > 0 %>
        <table class="budget-table">
          <thead>
            <th>Category</th>
            <th>Spent</th>
            <th>Budget</th>
            <th>Over?</th>
          </thead>
          <tbody>
            <% @budgets.each do |budget| %>
            <tr>
              <td><%= budget.category.name %></td>
              <td><%= budget.calculate_expenditures %></td>
              <td>$<%= budget.amount %></td>
              <td>
                <% left = budget.amount_left %>
                <% if left < 0 %>
                  <span>$<%= left %></span>
                <% else %>
                  <span>$<%= left %> left</span>
                <% end %>
              </td>
            <tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>

    <div class="goals">
      <h2>Goals</h2>
      <% if @goals.length > 0 %>
      <ul>
        <% @goals.each do |goal| %>
          <li>
            <%= goal.name %>
            Projected Date:
            <%= goal.update_projected_date %>
          </li>
        <% end %>
      </ul>
      <% end %>
    </div>
  </div>
</div>
