<div class="transactions">

  <!-- <div class="transactions-header group"> -->
  <h2>Transactions</h2>
  <div class="button"><a href="#/new">
      <button>Add Transaction</button></a></div>
  <!-- </div> -->

  <table class="transactions-table">
    <thead>
      <th column='Date'>Date</th>
      <th column='Description'>Description</th>
      <th column='Category'>Category</th>
      <th column='Amount'>Amount</th>
    </thead>
    <tbody>
  <% transactions.each(function(transaction){ %>
    <tr>
      <td><%= transaction.escape('date') %></td>
      <td><%= transaction.escape('description') %></td>
      <td><%= transaction.get('category').name %></td>
      <td class="amount-cell">
        <% if (transaction.escape('transaction_type') == "debit") { %>
          &#x2212
        <% } %>
        <%= '$' + transaction.convert_cents() %>
      </td>
<!--       <td>
        <div class="button">
          <a href="#/<%= transaction.id %>/edit">
         <button>Edit Transaction</button></a></div>
      </td>
 -->    </tr>
  <% }); %>
    </tbody>
  </table>
</div>