<% action_url = (action == :new) ? budgets_url : budget_url %>
<% button_name = (action == :new) ? "Add Budget" : "Update Budget" %>

<div class="form">
  <form action="<%= action_url %>" method="post">
    <%= auth_token %>

    <% if action == :edit %>
      <%= update_method_input %>
    <% end %>

    <div class="input">
    <label for="budget-amount">Amount</label>
    <input type="number" min="1" name="budget[amount_cents]" value="<%= budget.amount_cents %>" id="budget-amount">
    </div>

    <!-- should automate the dates (should have monthly interval and start at the beginning of the current month)-->

    <!-- GIVE DEFAULT VALUE TO SELECT TAG -->
    <div class="select">
      <label for="budget-category">Category</label>
      <select id="budget-category" name="budget[category_id]">
        <% categories.each do |category| %>
          <option value="<%= category.id %>"><%= category.name %></option>
        <% end %>
      </select>
    </div>

    <div class="input">
    <label for="budget-start-date">Start</label>
    <input type="date" name="budget[start_date]" value="<%= budget.start_date %>" id="budget-start-date">
    </div>

    <div class="input">
    <label fore="budget-end-date">End</label>
    <input type="date" name="budget[end_date]" value="<%= budget.end_date %>" id="budget-end-date">
    </div>

    <div class="submit">
    <input type="submit" value="<%= button_name %>">
    </div>
  </form>
</div>


<!-- either make new category for new budget and seed a bunch of budgets for a new user OR make budgets belong to categories, allow categories to be made independently, and have new budgets assigned to existing categories -->

