<% action_url = (action == :new) ? goals_url : goal_url %>
<% button_name = (action == :new) ? "Add Goal" : "Update Goal" %>

<div class="form">
  <form action="<%= action_url %>" method="post">
    <%= auth_token %>

    <% if action == :edit %>
      <%= update_method_input %>
    <% end %>

    <div class="input">
      <label for="goal-name">Name</label>
      <input type="text" name="goal[name]" value="<%= goal.name %>" id="goal-name">
    </div>

    <div class="input">
      <label for="goal-amount">Amount</label>
      <input type="number" step=".01" min="1" name="goal[amount_cents]" value="<%= goal.amount_cents %>" id="goal-amount">
    </div>

    <div class="input">
      <label for="goal-monthly-contribution">Monthly Contribution</label>
      <input type="number" step=".01" min="1" name="goal[monthly_contribution_cents]" value="<%= goal.monthly_contribution_cents %>" id="goal-monthly-contribution">
    </div>

    <div class="input">
      <label for="goal-planned-date">Planned Date</label>
      <input type="date" name="goal[planned_date]" value="<%= goal.planned_date %>" id="goal-planned-date">
    </div>


    <!-- PROBABLY SHOULD ADD SOME LOGIC FOR NO ACCOUNTS AVAILABLE -->
    <div class="select"><label for="goal-account">Account</label>
      <select name="goal[cash_account_id]">
        <% current_user.cash_accounts.each do |cash_account| %>
          <% if cash_account.goal == nil %>
            <option value="<%= cash_account.id %>">
              <%= cash_account.name %>
            </option>
          <% end %>
        <% end %>
      </select>
    </div>

    <div class="submit">
      <input type="submit" value="<%= button_name %>">
    </div>
  </form>
</div>