<% if @goals.length > 0 %>
  <div class="goal-main-content">
    <h2>Goals</h2>

        <div class="button"><a href="<%= new_goal_url %>"><button>Add Goal</button></a></div>

    <ul>
      <% @goals.each do |goal| %>
        <li>
          <div class="goal">
            <!-- PUT BAR GRAPH HERE, FLOAT IT LEFT OF THE LIST -->
            <div class="goal-attr-list">
              <h3><%= goal.name %></h3>
              <ul>
                <li>
                  <span class="goal-attr-key">Account:</span>
                  <span class="goal-attr-val">
                    <%= goal.cash_account.name %>
                  </span>
                </li>
                <li>
                  <span class="goal-attr-key">Amount:</span>
                  <span class="goal-attr-val">
                    <%= number_to_currency(goal.get_amount_dollars) %>
                  </span>
                </li>

                <li>
                  <span class="goal-attr-key">Balance:</span>
                  <span class="goal-attr-val">
                <%= number_to_currency(goal.cash_account.get_balance_dollars) %>
                  </span>
                </li>

                <li>
                  <span class="goal-attr-key">Contribution:</span>
                  <span class="goal-attr-val">
                    <%= number_to_currency(goal.get_contribution_dollars) %>
                  </span>
                </li>
                <!-- DO SOMETHING TO MAKE THE DATES LOOK NICER, CHECK RAILS API -->
                <li>
                  <span class="goal-attr-key">Planned Date:</span>
                  <span class="goal-attr-val"><%= goal.planned_date %></span>
                </li>

                <li>
                  <span class="goal-attr-key">Projected Date:</span>
                  <span class="goal-attr-val"><%= goal.projected_date %></span>
                </li>
              </ul>
            <div class="goal-buttons">
              <div class="button"><a href="<%= edit_goal_url(goal) %>">
                <button>Edit</button></a></div>
            </div>
          </div>



          </div>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>


