<h2>Transactions</h2>

<!-- move this to another backbone controlled dialogue -->
<form action="<%= transactions_url %>" method="post">
  <%= auth_token %>
  <!-- fix number field here -->
  <div class="input"><label for="transaction-amount">Amount</label>
  <input type="number" name="transaction[amount]" id="transaction-amount">
  </div>

  <div class="input"><label for="transaction-date">Date</label>
  <input type="date" name="transaction[date]" id="transaction-date">
  </div>

  <div class="input"><label for="transaction-description">Description</label>
  <input type="text" name="transaction[description]" id="transaction=description">
  </div>

  <!-- pretty sure the class here should match the tag... -->
  <div class="select"><label for="transaction-category">Category</label>
  <select name="transaction[category_id]" id="transaction-category">
    <% @categories.each do |category| %>
    <option value="<%= category.id %>"><%= category.name %></option>
    <% end %>
  </select>
  </div>

  <div class="input"><label for="transaction-debit">Expenditure</label>
  <input type="radio" name="transaction[transaction_type]" value="debit"
    id="transaction-debit"></div>

  <div class="input"><label for="transaction-credit">Income</label>
  <input type="radio" name="transaction[transaction_type]" value="credit"
    id="transaction-credit"></div>

  <!-- Wasn't there a better way to do this? Nest under the user in routes?
       Look at Jonathan's tutorial on -->
  <input type="hidden" name="transaction[user_id]" value="<%= current_user.id %>">

  <div class="submit">
  <input type="submit" value="Add transaction">
  </div>
</form>

<% if @transactions.length > 0 %>
  <table>
    <thead>
      <th>Date</th>
      <th>Description</th>
      <th>Category</th>
      <th>Amount</th>
    </thead>
    <tbody>
  <% @transactions.each do |transaction| %>
    <tr>
      <td><%= transaction.date %></td>
      <td><%= transaction.description %></td>
      <td><%= transaction.category.name %></td>
      <td>$<%= transaction.amount %></td>
    </tr>
  <% end %>
    </tbody>
  </table>
<% else %>
  <p>You have no transactions!</p>
<% end %>