<div class="transaction-main-content group">
  <% if @transactions.length > 0 %>
  <div class="transactions">
    <!-- <div class="transactions-header group"> -->
      <h2>Transactions</h2>
      <div class="button"><a href="<%= new_transaction_url %>">
          <button>Add Transaction</button></a></div>
    <!-- </div> -->
    <table class="transactions-table">
      <thead>
        <th>Date</th>
        <th>Description</th>
        <th>Category</th>
        <th>Amount</th>
      </thead>
      <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.date %></td>
        <td><%= transaction.description %></td>
        <td><%= transaction.category.name %></td>
        <td class="amount-cell">
          <% if transaction.transaction_type == "debit" %>
            -
          <% end %>
          <%= number_to_currency(transaction.get_dollars) %>
        </td>
      </tr>
    <% end %>
      </tbody>
    </table>
  </div>
  <% else %>
    <p>You have no transactions!</p>
  <% end %>
</div>

<%= render "./forms/transaction_form", :categories => @categories %>