<!DOCTYPE html>
<html>
<head>
  <title>Spearmint</title>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if flash[:errors] %>
    <%= flash[:errors] %>
  <% end %>

  <% if signed_in? %>
  <!-- Add navbar here! -->

  <a href="<%= user_url(current_user) %>">Overview</a>
  <a href="<%= transactions_url %>">Transactions</a>
  <a href="<%= budgets_url %>">Budgets</a>
  <form action="<%= session_url %>" method="post">
    <%= auth_token %>
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Sign Out">
  </form>
  <!-- End navbar! -->
  <% end %>
  <%= yield %>

</body>
</html>
